#!/bin/env bash

source .envrc.dont-commit

[ -z "$GITLAB_USERNAME" ] && log_error "Please fill GITLAB_USERNAME in .envrc.dont-commit"
[ -z "$GITLAB_TOKEN" ] && log_error "Please fill GITLAB_TOKEN in .envrc.dont-commit"

export TF_PLUGIN_CACHE_DIR="$HOME/.terraform.d/plugin-cache"
[[ ! -d "$HOME/.terraform.d/plugin-cache" ]] && mkdir -p $HOME/.terraform.d/plugin-cache

export PROJECT_ID=2355
export TF_VAR_project_id=$PROJECT_ID
export TF_VAR_gitlab_token=$GITLAB_TOKEN

if [ ! -f "./.envrc.dont-commit" ]; then
    cat <<EOF > .envrc.dont-commit
export GITLAB_USERNAME=
export GITLAB_TOKEN=
EOF
fi
