#!/bin/env bash

export GITLAB_USERNAME=
export GITLAB_TOKEN=

[ -z "$GITLAB_USERNAME" ] && log_error "Please fill GITLAB_USERNAME in .envrc"
[ -z "$GITLAB_TOKEN" ] && log_error "Please fill GITLAB_TOKEN in .envrc"

if [ ! -f "./src/.terraform/terraform.tfstate" ]; then
    git update-index --assume-unchanged .envrc
fi

export PROJECT_ID=2355
export TF_VAR_project_id=$PROJECT_ID
export TF_VAR_gitlab_token=$GITLAB_TOKEN
