#!/bin/env bash

source_up

if gitroot=$(git rev-parse --show-toplevel 2>/dev/null); then
    directory_relative_to_git_root=$(realpath --relative-to="$gitroot" .)
    state_name=${directory_relative_to_git_root//[\/]/_}
fi

[ -z "$directory_relative_to_git_root" ] && log_error "No git repository detected." && exit 1
[[ -z $GITLAB_USERNAME ]] && log_error '$GITLAB_USERNAME is missing in .envrc file' && exit 1
[[ -z $GITLAB_TOKEN ]] && log_error '$GITLAB_TOKEN is missing in .envrc file' && exit 1
[[ -z $PROJECT_ID ]] && log_error '$PROJECT_ID is missing in .envrc file' && exit 1

export STATE_NAME=$state_name
export TF_HTTP_USERNAME=$GITLAB_USERNAME
export TF_HTTP_PASSWORD=$GITLAB_TOKEN

if [ ! -f ".terraform/terraform.tfstate" ]; then
    terraform init \
    -backend-config="address=https://git.harvest.fr/api/v4/projects/$PROJECT_ID/terraform/state/$STATE_NAME" \
    -backend-config="lock_address=https://git.harvest.fr/api/v4/projects/$PROJECT_ID/terraform/state/$STATE_NAME/lock" \
    -backend-config="unlock_address=https://git.harvest.fr/api/v4/projects/$PROJECT_ID/terraform/state/$STATE_NAME/lock" \
    -backend-config="username=$GITLAB_USERNAME" \
    -backend-config="password=$GITLAB_TOKEN" \
    -backend-config="lock_method=POST" \
    -backend-config="unlock_method=DELETE" \
    -backend-config="retry_wait_min=5" \
    -reconfigure
fi

terraform init \
    -backend-config="address=https://git.harvest.fr/api/v4/projects/$PROJECT_ID/terraform/state/$STATE_NAME" \
    -backend-config="lock_address=https://git.harvest.fr/api/v4/projects/$PROJECT_ID/terraform/state/$STATE_NAME/lock" \
    -backend-config="unlock_address=https://git.harvest.fr/api/v4/projects/$PROJECT_ID/terraform/state/$STATE_NAME/lock" \
    -backend-config="username=$GITLAB_USERNAME" \
    -backend-config="password=$GITLAB_TOKEN" \
    -backend-config="lock_method=POST" \
    -backend-config="unlock_method=DELETE" \
    -backend-config="retry_wait_min=5"
